/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("fonts.css");

html {
   scroll-behavior: smooth;
}

/* body {
   overflow-y: hidden;
} */

h1, h3, h4 {
   color: #228B22;
}

p {
   font-size: 18px;
}

div h1#txt, h2#txt {
   
   color: white;
   text-transform: uppercase;
}

div h1#txt{
    font-family: "Azonix";
    font-size: 4em;
}

div h2#txt{
    font-family: "Blank_Bold";
    color: #F0E68C;
}


.text {
   position: relative;
   top: 45%;
   display: flex;
   justify-content: center;
   transform: translateY(-45%);
}

.text1 {
   position: relative;
   top: 40%;
   display: flex;
   justify-content: center;
   transform: translateY(-40%);
}


header {
   background: url('../img/video-capa.gif');
   background-size: cover;
   background-position: center;
}

header li.nav-item{
   text-align: end;
}


header nav.bg-transparente {
   background: rgba(0, 0, 0, 0.6);
}



section {
   padding-top: 3rem;
}

a#logo{
   font-family: 'Azonix';
}

.images {
   padding-top: 50px;
}