@font-face {
    font-family: 'Anti Digital';
    src: url("../fonts/antidigital.ttf");
}

@font-face {
    font-family: 'Digitalo Personal Use';
    src: url("../fonts/digitalo.ttf");
}

@font-face {
    font-family: 'Digital tech';
    src: url("../fonts/Digital_tech.otf");
}

@font-face {
    font-family: 'DigitalDisco';
    src: url("../fonts/DigitalDisco.ttf");
}

@font-face {
    font-family: 'Blank_Bold';
    src: url("../fonts/blank-Bold.otf");
}

@font-face {
    font-family: 'Animal Silence';
    src: url("../fonts/animal-silence.otf");
}

@font-face {
    font-family: 'Atmos';
    src: url("../fonts/Atmos.otf");
}

@font-face {
    font-family: 'Azonix';
    src: url("../fonts/Azonix.otf");
}




